/* Import Google font - Poppins */

@import "./variables.scss";

/* Variables */
$border-radius: 6px;
$box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
$padding: 20px;

.container {
  position: relative;
  max-width: auto;
  width: 100%;
  background: $background-color;
  padding: 25px;
  border-radius: 8px;
  box-shadow: $box-shadow;

  header {
    font-size: 1.5rem;
    color: $text-color;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: space-between;

    .pending {
      color: #ff6900;
      font-size: 0.9rem;
      background-color: rgba(255, 166, 0, 0.251);
      padding: 6px 23px;
      border-radius: 17px;
    }
  }

  .form {
    margin-top: 30px;

    .input-box {
      width: 100%;
      margin-top: 20px;

      .error{
        color:red;
        margin-top: 2px;
      }

      p{
        margin-top: 5px;
        font-size: 20px;
      }

      label {
        color: $text-color;
      }

      input,
      .select-box {
        position: relative;
        height: 50px;
        width: 100%;
        outline: none;
        font-size: 1rem;
        color: $subtext-color;
        margin-top: 8px;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        padding: 0 15px;

        &:focus {
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        }
      }
    }

    .column {
      display: flex;
      column-gap: 15px;
    }

    .gender-box {
      margin-top: 20px;

      h3 {
        color: $text-color;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 8px;
      }

      .gender-option,
      .gender {
        display: flex;
        align-items: center;
        column-gap: 50px;
        flex-wrap: wrap;

        .gender {
          column-gap: 5px;

          input {
            accent-color: $clr-primary;
          }

          input,
          label {
            cursor: pointer;
          }

          label {
            color: $subtext-color;
          }
        }
      }
    }

    .address {
      input,
      .select-box {
        margin-top: 15px;
      }

      .select-box select {
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        color: $subtext-color;
        font-size: 1rem;
      }
    }

    button {
      height: 55px;
      width: 100%;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
      margin-top: 30px;
      border: none;
      cursor: pointer;
      transition: all 0.2s ease;
      background: $clr-primary-light;
      border-radius: 6px;

      &:hover {
        background: $clr-primary;
      }
    }
  }
}

/* Responsive */
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }

  .form .gender-option,
  .gender {
    row-gap: 15px;
  }
}

.container header {
  font-size: 0.8rem; /* Adjust this value as needed */
  text-align: start;
  align-items: center;
}

