@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
// Font variable
$font-family: "Poppins", sans-serif;

// Color variable
$clr-primary: rgb(88, 56, 250);
$clr-primary-light: rgb(130, 106, 251);
$clr-white: #fff;
$clr-pumpkin: rgb(130, 106, 251);
$clr-background: #f1f1f1;
$text-color: #333;
$subtext-color: #707070;
$background-color: #fff;
$border-color: #ddd;

//transition property
$transition-default: all 300ms ease-in-out;



// new colors




